@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&display=swap");

@layer components {
  .custom-container {
    @apply max-w-7xl px-6 md:px-12 xl:px-0 mx-auto py-2;
  }
}

:root {
  --color-primary: #f075ae;
}

body {
  font-family: "Montserrat", sans-serif;
}

.active {
  background-color: var(--color-primary);
  color: black;
  padding: 1px 2px;
  border-radius: 4px;
}

.custom-btn {
  background-color: var(--color-primary);
  color: black;
  padding: 7px 20px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 15px;
  font-weight: 600;
}

.input-box {
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 40px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-size: 16px;
  color: #fff;
  padding: 20px 30px;
}

.input-box input::placeholder {
  color: #fff;
}

.wrapper {
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.imgWrapper {
  background:
    linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/assets/forest.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  border-left: 4px solid var(--color-primary);
  position: relative;
}

.card:hover {
  .trash {
    visibility: visible;
  }
}

.trash {
  position: absolute;
  visibility: hidden;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  border: 2px solid var(--color-primary);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profil-img {
  border: 2px solid var(--color-primary);
}
